:root {
  --font--display: 'Nunito Sans', sans-serif;
  --font--body: 'Nunito', sans-serif;
  --font--monospace: 'Fira Code', monospace;

  --weight--light: 300;
  --weight--semibold: 600;
  --weight--bold: 800;

  --color--white: #ffffff;
  --color--grey-100: #f0f0f0;
  --color--grey-200: #cccccc;
  --color--grey-300: #aaaaaa;
  --color--grey-500: #696969;
  --color--grey-700: #1c1c1c;
  --color--grey-800: #111111;
  --color--green: #407742;
  --color--green-dark: #264727;
  --color--green-light: #d7ead8;

  --color--accent: #DB4105;

  --color--github: #4078c0;
  --color--reddit: #ff4500;
  --color--mastodon: #6364ff;

  --size--h1: 3em;
  --size--h2: 2em;
  --size--h3: 1.5em;
  --size--h4: 1.2em;
  --size--h5: 1.2em;
  --size--h6: 0.75em;
  --size--paragraph: 1.2em;

  --shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  --shadow-dark: 0 0.5em 2em rgb(0, 0, 0, 0.2);

  --height--header: 60px;

}

@media screen and (max-width: 720px) {
  :root {
    --size--paragraph: 1em;
  }
}

/* RESETS */

@media screen and (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

body {
  max-width: 1920px;
  margin: auto;
  background: var(--color--grey-700);
  color: var(--color--grey-200);
  font-family: var(--font--body);
  font-weight: var(--weight--light);
  overflow-y: scroll;
  padding-top: var(--height--header);
}

* {
  outline-color: dodgerblue;
  outline-offset: 0.25em;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* MAIN STYLES */

.container {
  width: 90%;
  margin: 0 auto;
}

.v-margin {
  margin: auto 0;
}

.fill-width {
  width: 100%;
}

.text-accent {
  color: var(--color--accent);
}

.text-secondary {
  color: var(--color--grey-500);
}

.spread {
  justify-content: space-between;
}

.space {
  justify-content: space-around;
}

.almost-width {
  width: 90%;
  margin: 0 5%;
}

.text-medium {
  font-size: 1.2em;
}

.table {
  display: table;
}

.icon-container {
  margin: 0 5px;
}

.v-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.row {
  display: flex;
}

.bold {
  font-weight: var(--weight--bold);
}

/* TYPOGRAPHY */

.h1 {
  font-family: var(--font--display);
  font-weight: var(--weight--bold);
  font-size: var(--size--h1);
  color: var(--color--grey-200);
  line-height: 1;
  margin: 0.5em 0;
}

.h2 {
  font-family: var(--font--display);
  font-weight: var(--weight--bold);
  font-size: var(--size--h2);
  color: var(--color--grey-200);
  line-height: 1.2;
  margin: 0.5em 0;
}

.h3 {
  font-family: var(--font--display);
  font-weight: var(--weight--bold);
  font-size: var(--size--h3);
  color: var(--color--grey-200);
  line-height: 1.2;
}

.h4 {
  font-family: var(--font--body);
  font-weight: var(--weight--bold);
  font-size: var(--size--h4);
  color: var(--color--grey-200);
  line-height: 1.2;
}

.h5 {
  font-family: var(--font--body);
  font-weight: var(--weight--light);
  font-size: var(--size--h5);
  color: var(--color--grey-200);
  line-height: 1.2;
}

.h6 {
  font-family: var(--font--body);
  font-weight: var(--weight--light);
  font-size: var(--size--h6);
  color: var(--color--grey-200);
  line-height: 1.2;
}

.p,
li,
a {
  font-family: var(--font--body);
  font-weight: var(--weight--light);
  font-size: var(--size--paragraph);
  color: var(--color--grey-200);
  line-height: 1.4;
}

/* HEADER */

.logo__text {
  white-space: nowrap;
  font-weight: var(--weight--bold);
  font-family: var(--font--display);
  font-size: 1.13em;
  line-height: 40px;
}

.header {
  width: 100%;
  margin: 0 auto;
  height: var(--height--header);
}

.header .container {
  margin-top: 10px;
  height: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: var(--color--grey-700);
}

.header__logo {
  font-size: 1.5em;
}

.sticky {
  position: sticky;
  left: 0;
  top: var(--height--header);
}

.link__icon.fa-github:hover {
  color: var(--color--github);
}

.link__icon.fa-reddit:hover {
  color: var(--color--reddit);
}

.link__icon.fa-mastodon:hover {
  color: var(--color--mastodon);
}

.link__icon {
  font-size: 2em;
}

.link__icon-container {
  height: fit-content;
  margin: auto 0 auto 0.5em;
}

.link-hover {
  transform-origin: center center;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

div.link-hover:hover,
span.link-hover:hover {
  opacity: 0.6;
  transform: translateY(-0.1em);
}

/* PROJECTS PAGE */

.projects__section {
  margin: 4em auto;
}

.projects__section-row {
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 1em;
  align-items: center;
  background-color: var(--color--grey-800);
}

.projects__section .col {
  flex: 1;
}

.projects__section pre {
  font-size: 1.1em;
  max-width: 16em;
  padding: 0.85rem 1rem;
}

.projects__section .button {
  margin: 1em;
}

.projects__section-image {
  width: 40%;
  max-width: 300px;
  max-height: 400px;
  margin-left: 1.5em;
}

.projects__section .col .row {
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .projects__section {
    font-size: 1em
  }

  .margin-override {
    margin-right: 0 !important;
  }

  .projects__section-row {
    flex-wrap: wrap;
  }

  .projects__section .col {
    flex: auto;
  }

  .projects__section-image {
    margin: 1em auto 0;
    width: 90%;
  }
}

/* BUTTON */

.button {
  padding: 0.7em 1.2em;
  background: var(--color--grey-700);
  border: 1px solid var(--color--grey-300);
  color: var(--color--accent);
  border-radius: 0.25em;
  transform-origin: center center;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  transform-origin: center;
  font-weight: var(--weight--bold);
}

.button:hover {
  opacity: 0.6;
  transform: translateY(-0.1em);
}

/* HOMEPAGE */

.hero {
  padding: 5em 0;
}

.hero__logo {
  font-size: 1.75em;
}

@media screen and (max-width: 720px) {
  .hero {
    padding: 5em 0
  }

  .hero__logo {
    font-size: 1em
  }
}

.home__section-row {
  padding: 8em 1em;
}

.home__section:nth-child(2n + 1) {
  background: linear-gradient(30deg, var(--color--green-dark), var(--color--green));
  color: var(--color--white);
}

.home__section:nth-child(2n + 1) code {
  color: var(--color--white);
}

.home__section:nth-child(2n + 1) .h2 {
  text-shadow: 0 0 0.5em rgb(0 0 0 / 25%);
}

.home__section pre {
  font-size: 1.1em;
  max-width: 16em;
  padding: 0.85rem 1rem;
}

.home__section code {
  font-size: 1.2em;
}

.home__section-icon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(50% + 18rem);
  width: 12em;
  z-index: 2;
  filter: drop-shadow(0 0.25rem 0.125rem rgba(0, 0, 0, .3));
}

.home__section:nth-child(2n + 1) .home__section-icon {
  right: unset;
  left: calc(50% + 18rem);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .home__section-icon {
    display: none;
  }

  .home__section-row {
    padding: 4em 1em;
  }
}

@media screen and (max-width: 720px) {
  .home__section {
    font-size: 1em
  }

  .margin-override {
    margin-right: 0 !important;
  }
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--color--grey-700);
}

.footer__zone {
  padding: 4em 0;
}


@media screen and (max-width: 720px) {
  .header__logo {
    font-size: 1.25em
  }

  .text-medium {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .almost-width {
    width: 70%;
    margin: 0 15%;
  }
}

/* PAGE */

.page {
  background-color: var(--color--grey-700);
  position: relative;
  z-index: 1;
}

/* HOMEPAGE */

.about__section {
  padding: 5em 0;
  max-width: 500px;
}

.about__title,
.about__section p {
  padding-bottom: 1em;
}

.about__section p {
  line-height: 1.4;
}

.about__section span {
  margin-right: 1rem;
}

.about__title {
  align-items: baseline;
}

.about__title h2 {
  padding-right: 0.3rem;
}





















input {
  line-height: normal;
  -webkit-appearance: none;
  appearance: none;
}

code {
  font-family: var(--font--monospace);
  font-variant-ligatures: normal;
}

pre {
  line-height: 1.45;
  border: solid 1px var(--color--grey-200);
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: var(--color--grey-700);
}

.aside {
  white-space: nowrap;
}

.table-of-contents {
  min-width: 14em;
  max-width: 14em;
  white-space: nowrap;
}

.pad-left-xs {
  padding-left: 10%;
}

main {
  animation: fadeIn 200ms 400ms ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

hr {
  border: 0;
}

.faded {
  opacity: 0.6;
}

.markdown {
  display: flex;
  flex-direction: column;
}

.markdown hr {
  margin-top: 2em;
}

.markdown>h1:not(:first-child),
.markdown>h2:not(:first-child) {
  padding-top: 2rem;
}

.markdown>h3:not(:first-child),
.markdown>h4:not(:first-child) {
  padding-top: 1rem;
}

.markdown>h1:first-child {
  margin-bottom: 2rem
}

.markdown>*:not(:last-child) {
  margin-bottom: 1.2rem
}

.markdown code {
  font-size: 0.9em;
}

.markdown table code {
  white-space: pre;
  line-height: 1.4;
}

.markdown p code,
.markdown li code {
  font-size: 0.92em;
  color: var(--color--green);
}

.markdown p code::before,
.markdown li code::before {
  content: '`';
  opacity: 0.75;
  pointer-events: none;
  user-select: none;
}

.markdown p code::after,
.markdown li code::after {
  content: '`';
  opacity: 0.75;
  pointer-events: none;
  user-select: none;
}

.markdown blockquote {
  padding-left: 1rem;
  border-left: solid 4px var(--color--green);
  background-color: var(--color--grey-700);
  padding: 1rem;
  box-shadow: var(--shadow);
  color: var(--color--grey-500);
}

.markdown blockquote::before {
  content: 'Note:';
  display: block;
  line-height: 1.4;

  padding-bottom: 0.25em;
  font-weight: bold;
  color: var(--color--grey-700);
  font-size: 1.2em;
}

.markdown ul,
.markdown ol {
  margin-left: 1.5rem;
}

.markdown li {
  padding-bottom: 0.75rem;
}

.markdown pre {
  position: relative;
  border-color: var(--color--grey-700);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.4);
  text-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.5);
  background-color: var(--color--grey-700);
  color: var(--color--grey-200);
  padding: 1rem;
  font-size: 0.9em;
  font-family: var(--font--monospace);
}

.markdown pre.language-terminal {
  position: relative;
  padding-left: 2.25em;
}

.markdown pre.language-terminal::before {
  font-family: var(--font--monospace);
  content: '$ ';
  position: absolute;
  top: 1em;
  left: 1em;
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
}

.markdown .table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.markdown table {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color--grey-700);
  border-color: var(--color--grey-200);
  font-size: 0.85em;
}

.markdown tr {
  border-color: var(--color--grey-200);
}

.markdown th,
.markdown td {
  padding: 0.75em
}

.markdown tbody tr:nth-child(2n + 1) {
  background-color: var(--color--grey-200);
}

.markdown__link:hover::after {
  content: ' 🔗';
  display: inline-block;
  font-size: 0.5em;
  transform: translate(50%, -25%);
}

.markdown a img {
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.markdown a img:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

/* Links & Buttons */

/* .dropdown__link {
  padding: 1rem;
  transition: background-color 200ms ease-in-out;
}

.dropdown__link:focus .underline,
.dropdown__link:hover .underline {
  border-color: var(--color--green);
}

.dropdown__link:hover,
.dropdown__link:focus {
  background-color: var(--color--green-light);
}

.dropdown__link strong {
  color: var(--color--green);
}

.markdown__link:hover {
  border-bottom: solid 2px var(--color--grey-200);
} */