.about__page {
  display: flex;
  flex-direction: row-reverse;

  .about__section {
    padding-top: 5em;
    width: 50%;

    &.about__details {
      padding-left: 5%;
    }

    &.about__me {
      span {
        margin-right: 1rem;
      }
    }

    .about-category {
      padding-bottom: 0;
    }

    .about__title {
      padding-bottom: 1em;
      align-items: baseline;

      h2 {
        padding-right: 0.3rem;
      }
    }

    p {
      line-height: 1.4;
      padding-bottom: 1em;
    }

  }
}

@media screen and (max-width: 720px) {
  .about__page {
    display: block;

    .about__section {
      &.about__me {
        padding-top: 2em;
        width: 100%;
      }

      &.about__details {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .about__page {
    .about__section {
      &.about__details {
        padding-left: 15%;
      }
    }
  }
}