.about__page {
  display: flex;
  flex-direction: row-reverse;

  .about__section {
    padding-top: 5em;
    width: 50%;

    &.about__details {
      padding-left: 5%;
    }

    &.about__me {
      span {
        margin-right: 1rem;
      }

      .about__title h2:first-child {
        margin-right: .5em;
      }
    }

    .about__image {
      border-radius: 10%;
      height: 200px;
      width: 200px;
      line-height: 200px;
      display: block;
      margin: 1em auto;
      text-align: center;
      background-color: var(--color--grey-800);
    }

    .about-category {
      margin-left: 28px;

      p,
      a {
        padding-bottom: 0.2em;
        text-indent: -28px;
        font-size: inherit;
      }

      a {
        cursor: pointer;
      }

      p:last-child {
        padding-bottom: 1em;
      }
    }

    p,
    a {
      line-height: 1.4;
      padding-bottom: 1em;
    }

  }
}

@media screen and (max-width: 720px) {
  .about__page {
    display: block;

    .about__section {
      &.about__me {
        padding-top: 2em;
        width: 100%;
      }

      &.about__details {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .about__page {
    .about__section {
      &.about__details {
        padding-left: 15%;
      }
    }
  }
}