.about__page {
  display: flex;

  .about__section {
    padding-top: 5em;

    &.about__me {
      width: 55%;
    }

    &.about__details {
      padding-left: 5%;
      width: 40%;
    }


    .about__title {
      padding-bottom: 1em;
      align-items: baseline;

      h2 {
        padding-right: 0.3rem;
      }
    }

    p {
      line-height: 1.4;
      padding-bottom: 1em;
    }

    span {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .about__page {
    display: block;

    .about__section {
      &.about__details {
        padding-top: 2em;
        width: 100%;
      }

      &.about__details {
        padding-left: 0;
        width: 100%;
      }
    }
  }
}