#home__introduction {
  padding: 4em 0;

  .hero {
    padding-bottom: 2.5em;

    h1 {
      margin: 0.2em 0;
      text-transform: uppercase;
    }
  }

  .hero__logo {
    font-size: 1.7em;
  }

  .row {
    overflow: hidden;
  }
}

#home__about_me {
  padding: 4em 0;

  .text-secondary {
    padding-right: 15px;
  }

  p {
    padding-bottom: .5em;
  }

  #home__about_me__text {
    width: 60%;
  }

  #home__about_me__image {
    padding-left: 5%;
    width: 40%;
    margin: auto 0;

    img {
      padding-bottom: 2em;
      max-width: 400px;
    }

    span {
      margin-right: .4em;
    }
  }

  #home__about_me_links.row-buttons {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em 0;

    .button {
      padding: 1em 2em;
    }
  }
}

#home__project_preview {
  padding: 4em 0;

  .projects__preview_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding-top: 1em;

    .projects__preview {
      background-color: var(--color--grey-800);
      width: 300px;
      height: 250px;
      border-radius: 0.3em;
      overflow: hidden;
      display: flex;
      justify-content: center;

      &:hover {
        .projects__preview_image {
          transform: scale(1.03);
        }
      }

      .projects__preview_image {
        height: 100%;
        transition: transform 300ms ease-in-out;
      }
    }
  }
}

.section__title {
  padding-bottom: .5em;

  & h2:first-child {
    margin-right: .4em;
  }
}

@media screen and (max-width: 620px) {
  #home__introduction {
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1em;
    }
  }

  #home__about_me {
    #home__about_me__content.row {
      display: block;
    }

    #home__about_me__text {
      width: 100%;
    }

    #home__about_me__image {
      width: 100%;
      padding-top: 2em;
    }
  }
}

@media screen and (min-width: 1200px) {
  #home__project_preview {
    .projects__preview_container {
      .projects__preview {
        width: 400px;
        height: 333px;
      }
    }
  }
}