.home__page {
  .hero {
    padding: 4em 0 2.5em;

    h1 {
      margin: 0.2em 0;
    }
  }

  .hero__logo {
    font-size: 1.75em;
  }

  .row {
    overflow: hidden;
  }

  .carousel__container {
    display: grid;

    .carousel__arrow {
      align-self: center;
      grid-row: 1;
      font-size: 3em;
      cursor: pointer;

      &:hover {
        color: var(--color--accent);
      }

      &.left {
        grid-column: 1;
      }

      &.right {
        grid-column: 3;
      }

    }

    #carousel {
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  .carousel__section {
    margin: 4em 0.5em 0 0;
    display: flex;
    justify-content: center;

    .carousel__section-col {
      padding: 1.5em;
      border-radius: 0.5em;
      background-color: var(--color--grey-800);
      height: min-content;

      .carousel__section-title {
        padding-bottom: 1em;
        font-size: 1.5em;
        text-align: center;
      }
    }

    .col {
      flex: 1;

      .row {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .button {
      margin: 1em;
    }

    .carousel__section-image {
      height: 400px;
      border-radius: 0.2em;
      margin: 0 auto;
      display: block;

    }
  }

}

@media screen and (max-height: 920px) {
  .home__page {
    .hero {
      padding: 3em 0 2em;
    }

    .carousel__section {
      .carousel__section-col {
        .carousel__section-title {
          font-size: 1em;

        }
      }

      .carousel__section-image {
        height: 200px;

      }
    }
  }
}

@media screen and (max-height: 1080px) {
  .home__page {
    .hero__logo {
      font-size: 1.5em
    }

    .carousel__section {
      margin: 2em 0.5em 0 0;
    }
  }
}

@media screen and (max-height: 1200px) {
  .home__page {
    .carousel__section {
      .carousel__section-image {
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .header {
    .icon-nav {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .home__page {
    .row {
      display: block !important;
    }

    .carousel__container {
      .carousel__arrow {
        display: none;
      }
    }

    .carousel__section {
      .carousel__section-col {
        .carousel__section-title {
          padding-bottom: 1em;
          font-size: 1em;
        }
      }

      .carousel__section-image {
        width: 300px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .home__page {
    .hero__logo {
      font-size: 1em
    }
  }
}

@media screen and (max-width: 800px) {
  .home__page {
    .home__section-icon {
      display: none;
    }

    .home__section-row {
      padding: 4em 1em;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home__page {
    .home__section {
      font-size: 1em
    }

    .carousel__section {
      .carousel__section-col {
        .carousel__section-title {
          padding-bottom: 0.5em;
          font-size: 1.5em;
        }
      }
    }
  }
}