#home__introduction {
  padding: 4em 0;

  .hero {
    padding-bottom: 2.5em;

    h1 {
      margin: 0.2em 0;
      text-transform: uppercase;
    }
  }

  .hero__logo {
    font-size: 1.7em;
  }

  .row {
    overflow: hidden;
  }
}

#home__about_me {
  padding: 4em 0;

  .text-secondary {
    padding-right: 15px;
  }

  p {
    padding-bottom: .5em;
  }

  #home__about_me__text {
    width: 60%;
  }
}

.section__title {
  padding-bottom: .5em;

  & h2:first-child {
    margin-right: .4em;
  }
}