.projects__section {
  margin: 4em auto;

  .projects__section-row {
    padding: 3em;
    margin-bottom: 2em;
    border-radius: 0.2em;
    align-items: center;
    background-color: var(--color--grey-800);

    .projects__title {
      display: flex;
      padding-bottom: 0.5em;
      font-size: 2em;
      color: var(--color--accent);
    }

    .projects__section-text {
      margin-top: 1em;
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }

  .col {
    flex: 1;

    .row {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .button {
    margin: 0.5em;
    font-size: 1.2em;
  }

  .projects__section-image {
    max-height: 400px;
    max-width: 300px;
    margin-left: 1.5em;
    border-radius: 0.2em;
  }
}

@media screen and (max-width: 520px) {
  .projects__section {
    .projects__section-row {
      .row {
        display: block;
      }

      .button {
        margin: 1em 0.5em 2em;
        display: block;
        margin: 1em auto;
        width: fit-content;
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .projects__section {
    font-size: 1em;

    .projects__section-row {
      flex-wrap: wrap;

      .projects__title {
        padding-bottom: 0.3em;
        font-size: 1.5em;
      }
    }

    .col {
      flex: auto;
    }

    .projects__section-image {
      margin: 1em auto 0;
      width: 90%;
      max-width: 300px;
      max-height: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .projects__section {
    .projects__section-row {
      .projects__title {
        font-size: 2em;
      }

      .projects__section-text {
        font-size: 1.2em;
      }

    }

    .projects__section-image {
      max-width: 400px;
      max-height: 500px;
    }

    .projects__section-row {
      .button {
        font-size: 1.2em;
      }
    }
  }
}