.project__back {
  padding-top: 5em;
  height: auto;

  .project__back-button {
    width: fit-content;
  }
}

.project__page {
  .row-buttons {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em 0;

    .button {
      padding: 1em 2em;
    }
  }

  .project__section {
    display: flex;
    margin-bottom: 2em;

    .project__section-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .project__section-image {
        width: 33%;
        min-width: 150px;
        max-width: 250px;
        max-height: none;
        margin: 10px;
      }
    }

    .project__section-text {
      font-size: 1.2em;
      line-height: 1.4em;
      margin: auto 0;
    }

    .project__section-image {
      width: 45%;
      max-height: 500px;
      height: fit-content;
      border-radius: 0.2em;
      margin: auto;
    }

    .project__section-image:only-child {
      max-width: 100%;
      width: 100%;
    }

    .project__section-left {
      margin-right: 4em;
    }
  }

  .project__header {
    margin-top: 2em;

    .project__section-text {
      margin-top: 1em;
    }

    .project__title {
      display: flex;

      .project__logo {
        width: 4em;
        height: 4em;
        margin: auto 2em auto 0;
      }

      .project__name {
        font-size: 3em;
        margin: auto 0;
      }
    }
  }
}

@media screen and (max-height: 920px) {
  .project__page {
    .project__header {
      .project__title {
        .project__logo {
          width: 2.5em;
          height: 2.5em;
          margin-right: 1em;
        }

        .project__name {
          font-size: 2.2em;
        }
      }
    }

    .project__section {
      .project__section-image {
        width: 40%;
      }

      .project__section-image:only-child {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .project__page {
    .project__header {
      .project__title {
        .project__logo {
          width: 2.5em;
          height: 2.5em;
          margin-right: 1em;
        }

        .project__name {
          font-size: 2.2em;
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .project__page {
    .project__header {
      display: block;

      .project__title {
        justify-content: center;
      }
    }

    .project__section {
      margin-bottom: 0;

      &:nth-child(even) {
        flex-direction: column-reverse;
      }

      &:nth-child(odd) {
        display: block;
      }

      .project__section-image {
        width: 70%;
        margin: 2em 15%;
        object-fit: contain;
      }

      .project__section-image:only-child {
        max-width: 100%;
        width: 100%;
      }

      .project__section-left.project__section-image {
        margin-top: 1.5em;
      }

      .project__section-text {
        margin: 1em 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .project__page {
    .project__section {
      .project__section-image {
        width: 90%;
        margin: 2em 5%;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .project__page {
    .project__header {
      .project__title {
        .project__name {
          font-size: 2em;
        }
      }
    }

    p {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 420px) {
  .project__page {
    .project__section {
      .project__section-images {
        .project__section-image {
          width: 100%;
        }
      }

      .project__section-image:only-child {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}