.button {
  padding: 0.5em 1em;
  background: var(--color--grey-700);
  border: 1px solid var(--color--grey-300);
  border-radius: 0.25em;
  transition: opacity 200ms ease-in-out;
  font-weight: var(--weight--bold);
  color: var(--color--grey-300);

  &:hover {
    color: var(--color--accent);
  }
}