.divider {
  height: 60px;

  .divider__line {
    height: 2px;
    background-color: var(--color--main);
    width: 100vw;
    position: absolute;
    margin-top: 30px - 1px;
  }

  .divider__box {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    display: block;
    background-color: var(--color--main);
    border-radius: 3px;
    position: absolute;
    left: calc(50% - 30px);

    .divider__arrow {
      height: 74%;
      width: 74%;
      margin: 13%;
      fill: var(--color--accent);
    }
  }
}