.link__icon-container {
  margin: auto 0.5em;
  height: 30px;

  &:hover .mastodon {
    fill: var(--color--mastodon);
  }

  &:hover .reddit {
    fill: var(--color--reddit);
  }

  &:hover .github {
    fill: var(--color--github);
  }

  &:hover .email {
    fill: var(--color--email);
  }

  &:hover .linkedin {
    fill: var(--color--linkedin);
  }

  svg {
    height: 30px;
    fill: var(--color--grey-200);
    transition: fill 200ms ease-in-out;
  }
}