.link__icon-container {
  margin: auto 0.5em;
  height: 30px;

  &:hover .mastodon {
    color: var(--color--mastodon);
  }

  &:hover .reddit {
    color: var(--color--reddit);
  }

  &:hover .github {
    color: var(--color--github);
  }

  &:hover .email {
    color: var(--color--email);
  }

  &:hover .linkedin {
    color: var(--color--linkedin);
  }

  .link__icon {
    height: 30px;

  }
}